@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
    color: white;
    background-color: rgb(6, 0, 0);
  }
  /* shared styles */
  *{
    margin: 0;
  }
.container{
    width: 90%;
    margin: 4.5rem;
    color: white;
    background-color: rgb(6, 0, 0);
}
.span {
    padding-left: 18px;
    padding-right: 18px;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    border-radius: 15px;
    background-color: rgba(232, 87, 30, 0.998);
}
.btn-primary{
    width: 220px;
    height: 50px;
    font-weight: 600;
    color: white;
    padding: 0.9rem 1.27;
    background-color: rgba(232, 87, 30, 0.998);
    border: rgba(232, 87, 30, 0.998);
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* navbar styles here */
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1060px;
    margin: 3.2rem auto;
}
.nav-title{
    color: rgba(232, 87, 30, 0.998);
    font-style: italic;
    align-items: center;
}
.nav-options{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 3rem;
    border: 1px solid rgb(43, 40, 40);
    border-radius: 8px;
    padding: 5px;
}
.nav-opt{
    display: none;
}
/* banner section styles */
.banner{
    display: flex;
    justify-content:space-evenly;
    align-items:center;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 50px;
    color: white;
    background-color: rgb(6, 0, 0);
}
.banner-content{
    width: 40%;
    height: auto;
}
.banner-content h1{
    font-size: 60px;
    font-weight: 900;
}
/* I don't know how to do make miami fonts shape, tried letter please if possible teach us a little bit or if can please give me some intruction here so that i can learn with your proccess */
.banner-content .miama-shape{
    font-style: italic;
    margin-right: 5px;
}
.banner-content p{
    color:rgba(255, 255, 255, 0.5);
    max-width: 570px;
    margin: 24px 0;
}
.banner-btn{
    display: flex;
    justify-content: space-between;
}
.banner-btn .btn{
    width: 220px;
    height: 50px;
    border: 1px solid white;
    margin-right: 60px;
    background-color: black;
    color: white;
    border-radius: 24px;
}
    /* banner image section styles */
.banner-image{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    position: relative;

}
.banner-image img {
    margin-right: 138px;
    height: 585px;
    width: 342px;
}
/* free workout section */
.free-workout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 188px;
    height: 84px;
    padding: 0px 10px;
    /* padding-top: 20px; */
    position: absolute;
    right: 60px;
    top: 128px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
}
.free-workout h1{
    justify-content: flex-start;
    text-align:center;
}
.p-color{
    color:rgba(252, 250, 250, 0.65);
}
/* tutorial video section */
.video-tutorial {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.video-tutorial {
    max-width: 181px;
    height: 71px;
    padding: 2px 4px;
    position: absolute;
    left: -92px;
    bottom: 98px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
}
.red-ball{
    width: 55px;
    height: 55px;
    background-color: rgba(232, 87, 30, 0.998);
    border-radius: 100%;
}
.video-tutorial .tutorial {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 12px;
}
.tutorial h3{
    font-size: 1.8rem;
    font-weight: normal;
}

/* change your habits section start here */
.change-habits{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1044px;
    margin: 0 auto;
}
.change-haibt-content{
    max-width: 641px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.change-haibt-content h1{
    font-size: 3rem;
    font-weight: 900;
    padding: 10px;
}
.change-haibt-content p{
    font-size: .8rem;
    font-weight: 400;
    padding: 5px;
    text-align: center;
    color: rgba(252, 250, 250, 0.65);
    /* margin-bottom: 50px; */
}
/* style for change-habit-cards */
.change-habit-cards{
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: 14rem 14rem 14rem 14rem;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin: 50px;
    gap: 2.6rem;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.card img{
    border-radius: 100%;
    text-align: center;
}
.change-habit-cards .card h2{
    text-align: center;
    padding: 8px;
    margin: 8px;
}
.change-habit-cards .card p {
    color: rgba(252, 250, 250, 0.65);
    font-size: 0.8rem;
    font-weight: 400;
    padding: 5px;
    text-align: center;
}
/* Run extra miles section style start here */
.extra-miles{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 64.8rem;
    height: 25rem;
    margin: 3.2rem auto;
    border: none;
    border-radius: .8rem;
    background-color: rgb(45, 43, 43);
}
.extra-mile-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 1.9rem;
}
.extra-mile-content p{
    margin: 20px;
    margin-left: 3px;
}
.extra-mile-content h1{
    font-size: 3rem;
    color: rgba(251, 245, 245, 1);
}
.extra-mile-content p{
    font-size: 1rem;
    color: rgba(244, 239, 239, 0.466);
}
/* extra miles image style */
/* .extra-mile-image{
    justify-content: center;
    align-items: center;
} */
.extra-mile-image img {
    width: 80%;
    height: auto;
    display: block;
    margin: auto;
    border-radius: .8rem;
}
.extra-mile-image{
    /* max-width: 80%;
    height: 312px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* BMI Calculator section styles start here */
.bmi-section{
    max-width: 1440px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin:50px auto;
    color: white;
    background-color: rgb(6, 0, 0);
}

.bmi-header-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 4.5rem;
    width: 39.5rem;
    margin: 80px auto;
}
.bmi-header-content h1{
    text-align: left;
    font-size: 3rem;
    font-weight: 900;
    color: white;
    margin-bottom: 1rem;
}
.bmi-header-content p{
    font-size: 14px;
    font-weight: 400;
    color: rgba(244, 239, 239, 0.466);
}
.bmi-calculator-sect {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    padding: 4rem;
    background-color: #232320;
}
/* bmi cal chart styles */
.bmi-cal-chart{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bmi-cal-chart h2{
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0 0px 3rem 0;
}
table .tbody{
    border: none;
}
.tbody, th, td{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    text-align: center;
    display: table-cell;
    padding: 5px;
}
th{
    font-size: 1rem;
    font-weight: 600;
}
td{
    font-size: 14px;
    text-align: left;
    color: rgba(244, 239, 239, 0.466);

}

/* bmi form styel  */
.cal-your-bmi-form {
    width: 50%;
    margin-top: 58px;
    margin-right: 50px;
    background-color: rgb(30, 30, 30);
    border-radius: 1.2rem;
    padding: 0 10px;
}
.form-header-content{
    /* display: flex;
    flex-direction: column; */
    justify-content: space-evenly;
    align-items: left;
    margin: 10px 0;
}
.form-header-content h2{
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0 0px 20px 0;
    text-align: left;
}
.form-header-content p{
    font-size: 14px;
    font-weight: 400;
    color: rgba(244, 239, 239, 0.466);
}
.bmi-form #form{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    margin: 1rem 0;
}
#form input, select{
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: rgba(244, 239, 239, 0.466);
}
.activity-selection select{
    width: 100%;
    margin-bottom: 30px;
}
/* meet our team section start here */
.meet-our-team-sect{
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    width: 1060px;
}
.meet-team-header-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 3rem auto;
}
.meet-team-header-content h1{
    font-size: 3rem;
    font-weight: 900;
    padding: 14px;
    text-align: center;
}
.meet-team-header-content p{
    font-size: 14px;
    font-weight: 400;
    color: rgba(244, 239, 239, 0.466);
    margin-bottom: 14px;
    text-align: center;
    line-height: 1.4rem;
}
/* team details container styles */
.team-details-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    padding: 20px;
    background-color: rgb(45, 43, 43);
    border-radius: 12px;
}
.team-card {
    width: 326px;
    height: 300px;
    position: relative;
}
.team-card img{
    width: 100%;
    height: 100%;
    margin-right: 0;
    border-radius: 12px;
    filter: brightness(86%);
}
.card-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: self-start;
}
.card-text h3{
    position: absolute;
    bottom: 2.7rem;
    left: 1.5rem;
}
.card-text p{
    position: absolute;
    bottom: 1.2rem;
    left: 1.5rem;
    color: rgba(244, 239, 239, 0.466);
}
/* footer section style here */
.fitness-footer-section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 1440px;
    height: auto;
    color: white;
    margin: 50px auto;
    background-color: rgb(45, 43, 43);
}
.fitness-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 24px;
    width: 1060px;
    margin: 20px auto 50px auto;
}
.fitness-left-side{
    width: 40%;
    /* padding: 30px; */
    margin: 30px;
}
.fitness-left-side h1{
    color: rgba(232, 87, 30, 0.998);
    font-size: 70px;  
    font-weight: bolder;
    font-style: italic; 
}
.fitness-left-side p{
    color: rgba(244, 239, 239, 0.466);
    font-size: 16px;
}
.fitness-right-side{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 16px;
}
.right-get-started{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 2.6rem;
}
.right-get-started h1{
    margin-bottom: 12px;
}
.right-get-started ul{
    margin: 20px;
}
.right-get-started li{
    list-style: none;
    text-align: left;
    margin-left: -3.7rem;
    color: rgba(252, 250, 250, 0.65);
}
.right-get-essential{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 2.6rem;
}
.right-get-essential h1{
    margin-bottom: 12px;
}
.right-get-essential ul{
    margin: 20px;
}
.right-get-essential li{
    list-style: none;
    text-align: left;
    margin-left: -3.7rem;
    color: rgba(252, 250, 250, 0.65);
}

hr{
    width: 1060px;
    border: 1px solid rgba(244, 239, 239, 0.466);
}
.all-rights{
    margin: 50px auto;
}
.all-rights span{
    color: rgba(244, 239, 239, 0.466);
}


/* responsiveness for mobile versions */
@media screen and (max-width: 576px) {
    .container {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 50px;
        border: none;
    }
    .nav-bar{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 244px;
        max-width: 395px;
        border: none;
    }
    .nav-options{
        display: none;
    }
    .nav-opt{
        display: block;
    }
    .banner{
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        align-items:center;
        width: 395px;
        border: none;
    }
    .banner-content{
        width: 100%;
        height: auto;
    }
    .banner-btn {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-left: 22px;
        margin-right: -22px;
        
    }
    .banner-image img {
        margin-right: 16px;
        height: 585px;
        width: 342px;
    }
    .btn{margin: 10px;}
    .free-workout {
        top: 66px;
        right: -15px;
    }
    .video-tutorial{
        left: -15px;
        bottom: 239px;
    }
    .change-habits{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 340px;
        margin: 0 auto;
    }
    .change-habit-cards{
        display: flex;
        flex-direction: column;
        width: 340px;
    }
    .change-haibt-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .change-haibt-content h1{
        font-size: 2rem;
        font-weight: 700;
        /* padding: 10px; */
    }
    .extra-miles{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        max-width: 390px;
        height: 588px;
        margin: 3.2rem auto;
        border: none;
        border-radius: .8rem;
        background-color: rgb(45, 43, 43);
    }
    .extra-mile-content button.btn-primary {
        margin: 20px;
        font-size: 1rem;
        padding: 10px;
        width: 82%;
    }
    .extra-mile-image{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }
    /* bmi-section */
    .bmi-section{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border: none;
        width: 395px;
    }
    .bmi-calculator-sect {
        width: 100%;
        flex-direction: column;
        gap: 10px;
        padding: 0rem;
    }
    .bmi-header-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 4.5rem;
        width: 84%;
        margin: 80px auto;
    }
    .bmi-header-content h1 {
        text-align: left;
        font-size: 2rem;
        font-weight: 700;
        color: white;
        margin-bottom: 1rem;
    }
    .bmi-cal-chart h2 {
        width: 100%;
        font-size: 20px;
        font-weight: 600;
        margin: 0 0px 1rem 0;
    }
    .bmi-cal-chart {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: -100px;
    }
    .cal-your-bmi-form {
        width: 94%;
        margin-top: 16px;
        margin-left: 26px;
        margin-right: 20px;
        background-color: rgb(30, 30, 30);
        border-radius: 1.2rem;
    }
    .form-header-content h2 {
        font-size: 22px;
        font-weight: 600;
        text-align: left;
    }
    .bmi-form{
        width: 395px;
    }
    #form select {
        width: 179px;
        background-color: rgba(255, 255, 255, 0.2);
        border: none;
        border-radius: 5px;
        color: rgba(244, 239, 239, 0.466);
    }
    .bmi-form #form{
        width: 94%;
    }
    #form input{
        width: 159px;
    }
    /* meet our team section */
    .meet-our-team-sect{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 390px;
    }
    .team-details-container{
        display: flex;
        flex-direction: column;
    }
    /* footer section start */
    .fitness-footer-section, .fitness-container{
        width: 395px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .fitness-right-side{
        width: 395px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 16px;
    }
    hr{
        width: 348px;
    }

}